<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lostbackboy</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-tag">
            <h1>LOSTBACKBOY LINKTREE</h1>
        </div>
    </header>
    <div class="container">
        <div class="image-container">
            <img src="https://avatars.githubusercontent.com/u/93096333?v=4"
                 alt="Lostbackboy avatar"/>
        </div>

        <h1>My Socials</h1>

        <a class="tile" href="">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="128" cy="128" r="96" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><path d="M179.1,108.3a112.1,112.1,0,0,0-102.3.1" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><path d="M164.3,136.7a79.9,79.9,0,0,0-72.7.1" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><path d="M149.5,165.1A47.3,47.3,0,0,0,128,160a48.7,48.7,0,0,0-21.6,5.1" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/></svg>
            </div>
            <p>Spotify</p>
            <div class="href-button"></div>
        </a>
        <a class="tile" href="https://www.Instagram.com/lostbackboy">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="128" cy="128" r="40" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><rect x="36" y="36" width="184" height="184" rx="48" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><circle cx="180" cy="76" r="10"/></svg>
            </div>
            <p>Instagram</p>
            <div class="href-button"></div>
        </a>
        <a class="tile" href="https://x.com/lostbackboy">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M128,88c0-22,18.5-40.3,40.5-40a40,40,0,0,1,36.2,24H240l-32.3,32.3A127.9,127.9,0,0,1,80,224c-32,0-40-12-40-12s32-12,48-36c0,0-64-32-48-120,0,0,40,40,88,48Z" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/></svg>
            </div>
            <p>X</p>
            <div class="href-button"></div>
        </a>
        <a class="tile" href="https://www.youtube.com/@lostbackboy">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><polygon points="160 128 112 96 112 160 160 128" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><path d="M24,128c0,29.8,3.1,47.2,5.4,56.2A16.1,16.1,0,0,0,39,195.1c33.5,12.8,89,12.5,89,12.5s55.5.3,89-12.5a16.1,16.1,0,0,0,9.6-10.9c2.3-9,5.4-26.4,5.4-56.2s-3.1-47.2-5.4-56.2A16.1,16.1,0,0,0,217,60.9c-33.5-12.8-89-12.5-89-12.5s-55.5-.3-89,12.5a16.1,16.1,0,0,0-9.6,10.9C27.1,80.8,24,98.2,24,128Z" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/></svg>
            </div>
            <p>YouTube</p>
            <div class="href-button"></div>
        </a>
        <a class="tile" href="https://github.com/lostbackboy">
            <div class="icon">
                <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16"> <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" fill="white"></path> </svg>
            </div>
            <p>GitHub</p>
            <div class="href-button"></div>
        </a>
    </div>
</body>
</html>